
.title {
	text-align: center;
}

.title a {
	position: absolute;
    right: 170px;
    top: 30px;
}

.container-fluid {
	text-align: center;
}

.icon-style {
    width: 90px;
    height: 90px
}

.sent_percent {
	font-size: 40px;
	margin-top: 25px;
}

.sent_sum {
	padding-top: 10px;
}


