

.title {
    text-align: center;
    font-family:sans-serif;
}

.container {
	font-size: 17px;
	margin-top: 25px;
	background-color: mistyrose;
	padding-top: 20px;
}

.container-fluid a {
	position:fixed;
    right:170px;
    top:30px;
}
