
.container-fluid {
    text-align: center;
    font-family: Atma;
    font-size: 50px;
    color: indigo;
    margin-top: 25px;
}

#wwwy {
	height: 500px;
	width: 500px;
	border: 2px solid #021a40;
}


