<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Food_Topic</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/fontawesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename = './css/food_topic.css')}}">

    <script src={{ url_for('static', filename = './js/food_topic.js') }}></script>
   
</head>

<body>
    
<div style="background-color:seashell" class="container-fluid title">
    <h1 style="color:maroon; font-family:cursive">{{ topic }}</h1>  
    <a href="http://localhost:5000/input" class="btn btn-success home">Home</a>  
    <a id="show" onclick="show_toggle()" class="btn btn-info">Show More</a> 

    <div id="firstfive" class="container">
        {% for item in session['topic_ls'][:5] %}
            <p>{{ item }}</p><br>
        {% endfor %}
    </div>

    <div id="nextten" class="container" style="display:none">
        {% for item in session.pop('topic_ls', [])[5:15] %}
            <p>{{ item }}</p><br>
        {% endfor %}
    </div>
   
</div>
     
</body>

<script src="https://cdn.jsdelivr.net/g/jquery@3.1.0,bootstrap@3.3.7"></script>
    
</html>