<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Yummax_admin</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/fontawesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename = './css/Yummax_admin.css')}}">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Atma'>
    
    <script src={{ url_for('static', filename = './js/Yummax_admin.js') }}></script>
   
</head>

<body>
    
<div class="container-fluid">

    <a href="http://localhost:5000/input"><img src={{ url_for('static', filename='./images/yummax-screenshot.png') }} alt='yummax-screenshot'></a>   
    <p>For those who are serious about the business of food</p>
    <h4 style="color:brown">Click on banner to continue</h4>

    <div class="container">
        <a id="login" onclick="show_login()" class="btn btn-success">Admin Login</a>
        <form action="http://localhost:5000/login" method="post" id="login_form" style="display:none">
            <input type="text" name="username" placeholder='username'>
            <input type="password" name="password" placeholder='password'>
            <input type="submit" value="Submit" style="color:blue">
        </form>
    </div>
    
    <div>
        <img id="wwwy" src={{ url_for('static', filename='./images/we-will-wok-you.jpg') }} alt='we-will-wok-you'>
    </div>

</div>
     
</body>

<script src="https://cdn.jsdelivr.net/g/jquery@3.1.0,bootstrap@3.3.7"></script>
    
</html>